- set_meta_tags title: 'Guide / Reference / Components / Computed Properties'

%h1 Computed Properties

%p
  Computed properties are functions that work like properties, they are defined with the
  %code get
  keyword and no arguments.

%pre
  %code
    :escaped
      component Greeter {
        property name : String = ""

        get text : String {
          "Hello " + name + "!"
        }

        fun render : Html {
          <div>
            <{ text }>
          </div>
        }
      }

%h2 Optional type

%p
  The
  %b type annoation
  is optional:

%pre
  %code
    :escaped
      component Greeter {
        property name : String

        get text {
          "Hello " + name + "!"
        }

        fun render {
          <div>
            <{ text }>
          </div>
        }
      }
