- set_meta_tags title: 'Guide / Reference / Components / Internal State'

%h1 Internal State

%p
  Components can have state just as stores can.

%pre
  %code
    :escaped
      component Main {
        state greeting : String = "Welcome"

        fun greet : Promise(Void) {
          let newGreeting =
            if (greeting == "hello") {
              "bye"
            } else {
              "hello"
            }

          next { greeting: newGreeting }
        }

        fun render : Html {
          <div>
            <{ greeting }>
            <br/>

            <button onClick={greet}>
              "Switch"
            </button>
          </div>
        }
      }

%p
  The
  %code state
  keyword is used to attach
  %b private
  state variable to a Component.
  It cannot be passed in from another Component, but it can be updated with the
  %code next
  keyword.

%h2 Optional type

%p
  The
  %b type annotation
  can be left out:

%pre
  %code
    :escaped
      component User {
        state greeting = "Welcome"

        ...
      }
