- set_meta_tags title: 'Guide / Reference / Components / Lifecycle Functions'

%h1 Lifecycle Functions

%p
  Components have the following lifecycle functions:

%ul
  %li
    %b componentDidMount
    \- this is called when the component is mounted

  %li
    %b componentDidUpdate
    \- this is called when the component is updated

  %li
    %b componentWillUnmount
    \- this is called when the component is about to be unmounted

%pre
  %code
    :escaped
      component Test {
        fun componentDidMount : Promise(Never, Void) {
          Debug.log("MOUNTED")
        }

        fun componentDidUpdate : Promise(Never, Void) {
          Debug.log("UPDATED")
        }

        fun componentWillUnmount : Promise(Never, Void) {
          Debug.log("WILL UNMOUNT")
        }

        fun render : Html {
          <div>
            "Hello!"
          </div>
        }
      }
