- set_meta_tags title: "Blog / A New Website"

%p
  It's the start of a new year and it's time for a refreshing new look for Mint!
  🎨 🎉

%p
  In this post I will go through why this was needed, what shortcomings the
  old version had and how the new version tries to remedy them.

%h2 The old

%p
  The first logo and website was conceived almost two years ago. At the time
  I thought that it matched what the language pretty well, but since then the
  language evolved and matured a lot.

%h2 The new

%p
  The new logo and website using warmer and more vibrant colors, rounded edges
  and a rounded typeface as well, which makes it more welcoming and less
  threathening.

%h2 The code

%p
  The new site was written from scratch as a Ruby on Rails application.
