- set_meta_tags title: 'Guide / Reference / Comments'

%h1 Comments

%p
  Mint supports inline comments (single line):
  %code // ...

%p
  Multiline comments have the following syntax:
  %code /* ... */

%pre
  %code
    :escaped
      // Set a variable.
      let name =
        "Joe"

      /*
         Convert it to upper case.
         => JOE
       */
      String.toUpperCase(name)

%p.hint.hint--info
  = octicon "info"
  %span
    Mint doesn't have a tokenizer so if there is a place where you would like to use a comment but can't, open an issue!
