- set_meta_tags title: 'Guide / Reference / Constants'

%h1 Constants

%p
  Constants can be added to
  %b stores
  :plain
    ,
  %b modules
  and
  %b components.

%pre
  %code
    :plain
      module Math {
        const PI = 3.141592653589793
      }

%p
  Constants can be accessed like variables inside the scope of the entity which
  defined them and from outside they can be accessed with the following syntax:

%pre
  %code
    :plain
      Math:PI

%p.hint.hint--info
  = octicon "info"

  %span
    The variable name of a constant must be in all-uppercase characters.