%h1 Equality

%p
  In Mint, 2 objects are considered equal if they have the same type and all
  its values are equal.

%p
  The equality operator is:
  %code ==

%pre
  %code
    :escaped
      { name = "Jon Doe", age = 27 } == { age = 27, name = "Jon Doe" } /* true */
      Maybe::Just("A") == Maybe::Just("A") /* true */
      ["A"] == ["A"] /* true */

%p
  In JavaScript, the same
  %code ==
  comparison would return false.
  We say Mint uses "logical" equality.

%p
  In addition to
  %b records
  and
  %b enums
  , the following types use logical equality:

%ul
  %li
    %code String
  %li
    %code Number
  %li
    %code Boolean
  %li
    %code Date
  %li
    %code Map
  %li
    %code Set
  %li
    %code Maybe
  %li
    %code Result
  %li
    %code Array
  %li
    %code FormData
  %li
    %code SearchParams

%p.hint.hint--info
  = octicon "info"
  %span
    Types that does not implement the logical equality operation fall back to
    using the JavaScript
    %b strict equality operator
    %code ===

