- set_meta_tags title: 'Guide / Reference / Modules'

%h1 Modules

%p
  In Mint modules are kind of containers for a set of relatable functions. They are usually used to gather functions that relate to a specific type (like
  %code String
  or
  %code Number
  ).

%pre
  %code
    :escaped
      module Greeter {
        fun greet (name : String) : String {
          "Hello \#{name}!"
        }
      }

%p
  You can call the functions of a module by using the modules name:

%pre
  %code
    :escaped
      Greeter.greet("Joe") /* "Hello Joe" */

%p
  You can omit the name of the module if you are calling a function from an other function in the same module:

%pre
  %code
    :escaped
      module Greeter {
        fun greet (name : String) : String {
          "Hello \#{name}!"
        }

        fun greetUpperCase (name : String) : String {
          name
          |> String.toUpperCase()
          |> greet
        }
      }
