- set_meta_tags title: 'Guide / Reference / Packages'

%h1 Packages

%p
  Mint uses
  %b decentralized package management
  , which means that instead of a global repository all information lives in
  Git repositories alongside the source code. Versions of packages are just
  Git tags in  Semver format (major.minor.patch).

