- set_meta_tags title: 'Guide / Reference / Encode Expression'

%h1 Encode Expression

%p
  Since we can decode objects we need to have a way to encode them into
  JavaScript objects as well.

%p
  The
  %code encode
  expression is the way to do that:


%pre
  %code
    :escaped
      encode { name = "Bob" } /* Object */
      encode variable /* Object */

%p
  The
  %code encode
  expression tries to encode a typed object into a JavaScript object
  (
  %code Object
  type in Mint), in case that it's impossible to do that you will get a nice
  error message.

%p
  The general rule is that you can
  %code decode
  anything that you can
  = succeed "." do
    %code encode

%p
  Encoding data is useful when you want to convert it to JSON:


%pre
  %code
    :escaped
      (encode { name = "Bob" })
      |> Json.stringify()

      /* { "name": "Bob"} */
