%h1 JavaScript Interop

%p
  Mint provides a few ways of interacting with JavaScript:

%ul
  %li
    You can invoke arbitrary JavaScript by
    %a(href="/guide/reference/javascript-interop/inlining")
      inlining

  %li
    You can convert JavaScript objects to typed values using
    %a(href="/guide/reference/javascript-interop/decode-expression")
      decode expressions

  %li
    You can convert typed values to JavaScript objects using
    %a(href="/guide/reference/javascript-interop/encode-expression")
      encode expressions
