- set_meta_tags title: 'Guide / Reference / Control Expressions / if...else'

%h1 if...else

%p
  The
  %code if...else
  conditional expression returns one of two values based on a condition.
  It looks like this:

%pre
  %code
    :escaped
      if (condition) {
        value1
      } else {
        value2
      }

%p There are some rules that will be enforced:

%ul
  %li
    The
    %code condition
    must evaluate to type
    %code Bool

  %li
    The values of both branches
    %b must evaluate to the same type

  %li
    The
    %code else
    branch must be present, if it's missing you will get a syntax error,
    this ensures you handle all possibilities.

%p.hint.hint--info
  = octicon "info"
  %span
    Currently there is no shorthand for a conditional expression.

%h2 else if ...

%p
  Multiple
  %code if..else
  statements can be written in sequence:

%pre
  %code
    :escaped
      if (number > 5) {
        true
      } else if (number > 2 {
        true
      } else {
        false
      }


%h2 omitting else

%p
  The
  %code else
  branch can be omitted in two cases.

%ul
  %li
    in any HTML element
  %li
    in
    %code style
    tags

%p
  This example shows both cases:

%pre
  %code
    :escaped
      component Main {
        state clicked : Bool = false

        style base {
          color: blue;

          if (clicked) {
            color: red;
          }
        }

        fun handleClick : Promise(Never, Void) {
          next { clicked = true }
        }

        fun render : Html {
          <div::base>
            <div onClick={handleClick}>
              "Click me!"
            </div>

            if (clicked) {
              "I have been clicked!"
            }
          </div>
        }
      }
