- set_meta_tags title: 'Guide / Reference / Control Expressions'

%h1 Control Expressions

%p
  In Mint, control structures are expressions that return a value, so they are called

  = succeed "." do
    %b control expressions

%p Here are the control expressions:

%ul
  %li
    %b if...else
    \- basic, 2 way conditional expression
  %li
    %b case
    \- extended, N-way conditional expression
  %li
    %b for...of
    \- iteration over
    %code Array(a)
    %code Set(a)
    and
    %code Map(a,b)
  %li
    %b next
    \- locally modifies
    %code state
    variables
