- set_meta_tags title: 'Guide / Reference / Control Expressions / next'

%h1 next

%p
  %code next
  is a very straightforward expression. It allows you to
  %b locally
  modify the
  %code state
  variables in
  %a(href="/guide/reference/components/internal-state") Components
  and
  = succeed "." do
    %a(href="/guide/reference/stores") Stores
  For more information on usage you should look at the examples on the linked pages.
