- set_meta_tags title: 'Guide / Getting Started / Tools'

%h1 Tools

%p
  This page covers general-purpose tools that support Mint language.

%h2 Editor extensions

%ul
  %li
    %a(href="https://github.com/s0kil/mint-vscode")
      VSCode extension
    \- adds syntax highlighting, snippets, and formatting support

  %li
    %a(href="https://github.com/creatorrr/emacs-mint-mode")
      Emacs mode
    \- adds syntax highlighting and auto-formatting using
    %code mint format

  %li
    %a(href="https://github.com/kingsleyh/intellij-mint")
      IntelliJ plugin
    \- adds syntax highlighting

  %li
    %a(href="https://github.com/kingsleyh/language-mint")
      Atom plugin
    \- adds syntax highlighting

  %li
    %a(href="https://github.com/IrenejMarc/vim-mint")
      Vim
    \- very minimal (but working) syntax/ftdetect combo
    
  %li
    %a(href="https://github.com/Orgmir/mint-sublime-text")
      Sublime Text 3 package
    \- adds syntax highlighting and snippets
