%h1 Tools

%p
  This page covers general-purpose tools that support Mint language.

%h2 Editor extensions

%ul
  %li
    %a(href="https://github.com/faustinoaq/vscode-mint-lang")
      VSCode extension
    adds mint syntax highlighting and autocomplete support

  %li
    %a(href="https://github.com/creatorrr/emacs-mint-mode")
      Emacs mint-mode
    adds mint syntax highlighting and auto formatter using `mint format`

