- set_meta_tags title: 'Guide / Getting Started / Tools'

%h1 Tools

%p
  This page covers general-purpose tools that support Mint language.

%h2 Editor extensions

%ul
  %li
    %a(href="https://github.com/faustinoaq/vscode-mint-lang")
      VSCode extension
    \- adds syntax highlighting and autocomplete support

  %li
    %a(href="https://github.com/creatorrr/emacs-mint-mode")
      Emacs mode
    \- adds syntax highlighting and auto formatter using
    %code mint format

  %li
    %a(href="https://github.com/kingsleyh/intellij-mint")
      IntelliJ plugin
    \- adds syntax highlighting

  %li
    %a(href="https://github.com/kingsleyh/language-mint")
      Atom plugin
    \- adds syntax highlighting
