!= docs['description']

= render partial: 'shared/entities',
  locals: { title: 'States', items: docs['states'] }

= render partial: 'shared/entities',
  locals: { title: 'Properties', items: docs['properties'] }

= render partial: 'shared/entities',
  locals: { title: 'Functions', items: docs['functions'] }
