!= docs['description']

- if docs['states'].any?
  %h2.docs__title States

  - docs['states'].each do |item|
    = render partial: 'shared/entity', locals: { item: item }

- if docs['functions'].any?
  %h2.docs__title Functions

  - docs['functions'].each do |item|
    = render partial: 'shared/entity', locals: { item: item }

