- set_meta_tags title: 'Guide / Reference / Directives / @documentation'

%h1 Documentation Directive

%p
  The
  %code @documentation
  directive compiles the JSON documentation of the given entity into the
  resulting JavaScript code so it can be used to display information about
  that entity.

%pre
  %code
    :escaped
      record Component {
        name : String
      }

      let decoded =
        decode @documentation(Main) as Component

      decoded.name
