- set_meta_tags title: 'Guide / Reference / Directives / @svg'

%h1 Svg Directive

%p
  The svg directive allows you to
  %b inline
  an SVG file as
  %code
    Html
  \:

%pre
  %code
    :escaped
      my-app
      ├── svgs
      │   └── some-svg.svg
      ├── source
      │   └── Main.mint
      └── mint.json

%p
  This component inlines the
  %code some-svg.svg
  from the
  %code svgs
  folder.

%pre
  %code
    :escaped
      component Main {
        fun render : Html {
          <div>
            @svg(../svgs/some-svg.svg)
          </div>
        }
      }

%p
  It's the same as copy-pasting the SVG itself into the code.
