.page
  %h1.page__title
    Blog
  %p.page__description
    Here you can find announcements for new releases, some interesting use cases, and guides on how to use the language.

  .post-small
    - @posts.each do |post|
      = link_to post[:title], blog_post_path(slug: post[:slug])
      %small
        = post[:formatted_date]
