.btn {
  box-shadow: 0 4px 10px -4px rgba(#000, 0.45),
              0 -1px 2px rgba(#000, 0.15) inset;
  color: white;

  text-transform: uppercase;
  text-decoration: none;

  border-radius: 100px;
  font-weight: bold;

  padding: 0 40px;
  padding-bottom: 2px;

  height: 50px;

  justify-content: center;
  display: inline-flex;
  align-items: center;

  transition: transform 320ms;
  transform: translateY(0);
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
  }

  svg {
    position: relative;
    top: 1px;

    margin-right: 10px;
    fill: currentColor;
    flex: 0 0 auto;
  }

  &--primary {
    background: linear-gradient(lighten($primary, 7.5%), $primary);
  }

  &--secondary {
    background: linear-gradient(lighten($secondary, 7.5%), $secondary);
  }

  &--tertiary {
    background: linear-gradient(lighten($tertiary, 7.5%), $tertiary);
  }

  &--neutral {
    background: linear-gradient(lighten(#333, 7.5%), #333);
  }

  &--big {
    font-size: 20px;
    height: 63px;

    @media (max-width: 1200px) {
      font-size: 16px;
      height: 44px;
    }
  }
}
