%content {
  line-height: 1.75;
  font-size: 18px;
  color: #444;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1200px) {
    font-size: 16px;
  }

  img {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #333;

    margin: 0;
    margin-bottom: 20px;
  }

  h1 {
    border-bottom: 4px solid rgba(0,0,0,0.1);
    padding-bottom: 0.3em;
    font-size: 2em;

    small {
      font-weight: 500;
      font-size: 14px;
      display: block;
      color: #999;
    }
  }

  h2 {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 0.3em;

    margin-top: 2em;
    font-size: 1.5em;
  }

  h3 {
    margin-top: 1.5em;
    font-size: 1.25em;
  }

  li > ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li > pre,
  li + li,
  li > ul {
    margin-top: 7px;
  }

  ul {
    padding-left: 30px;
  }

  code:not(.hljs) {
    white-space: pre;
    background: #EEE;
    padding: 3px 6px;
    border-radius: 2px;
  }

  code {
    font-family: Source Code Pro;
  }

  pre {
    background: #252d3c;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 16px;
    padding: 10px;

    code:not(.hljs) {
      background: transparent;
      color: transparent;
    }
  }

  b, strong {
    color: #333;
  }

  p, ul, ol, pre, blockqoute {
    margin: 0;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: $primary;
  }

  p.hint {
    grid-template-columns: min-content 1fr;
    grid-gap: 10px;
    display: grid;

    background: #EEE;
    padding: 20px;

    svg {
      align-self: center;
      margin-right: 10px;
      height: 24px;
      width: 24px;
    }

    code:not(.hljs) {
      background: #DDD;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;

      svg {
        display: none;
      }
    }

    &--warning {
      border-left: 4px solid orangered;

      & svg {
        fill: orangered;
      }
    }
    &--info {
      border-left: 4px solid rgb(56, 132, 255);

      & svg {
        fill: rgb(56, 132, 255);
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr + tr td {
      border-top: 1px solid #EEE;
    }

    thead th {
      border-bottom: 2px solid rgb(230, 236, 241);
      font-weight: bold;
      color: #999;
    }
  }

  blockqoute {
    border-left: 4px solid #EEE;
    display: block;
    padding: 20px;
    color: #666;
  }
}
