.landing-snippet {
  box-shadow: 0 5px 20px -5px rgba(#000, 0.7);
  color: white;
  margin: 0;

  font-family: Source Code Pro;
  font-size: 16px;

  width: 600px;

  code {
    border-radius: 5px;
    padding: 30px;
  }

  @media (max-width: 1200px) {
    font-size: 14px;
    width: 420px;

    code {
      padding: 20px;
    }
  }

  @media (max-width: 960px) {
    width: 100%;
  }
}
