.landing-section {
  --border-color: rgba(0,0,0,0.3);
  --gradient-color: #FFF;
  --bold-color: #333;
  --color: #666;

  background: var(--background-color);
  position: relative;
  min-height: 85vh;

  grid-template-columns: minmax(0, 800px) min-content;
  justify-content: center;
  align-items: center;
  grid-gap: 100px;
  display: grid;

  h3 {
    font-family: 'M PLUS Rounded 1c';
    color: var(--bold-color);
    font-size: 36px;
    margin: 0;
  }

  hr {
    margin: 25px 0;

    border: 0;
    border-bottom: 1px dashed var(--border-color);
  }

  p, ul {
    color: var(--color);
    line-height: 1.6;
    font-size: 18px;

    svg {
      fill: currentColor;
    }
  }

  b {
    color: var(--bold-color);
  }

  li + li {
    margin-top: 12px;
  }

  > * {
    direction: ltr;
  }

  > svg {
    fill: var(--background-color);
    position: absolute;
    right: 0;
    left: 0;

    &:first-of-type {
      transform: translateY(calc(-100% + 2px));
      top: 0;
    }

    &:last-of-type {
      transform: translateY(calc(100% - 2px)) rotate(180deg);
      bottom: 0;
    }
  }


  &__content {
    background: radial-gradient(closest-side, var(--gradient-color) 65%, transparent);
    text-shadow: 0 0 2px rgba(#000,0.1);

    .btn {
      margin-top: 10px;
    }

    code {
      background: #282c34;
      border-radius: 2px;
      font-weight: 400;
      padding: 3px 6px;
      color: #EEE;
    }
  }

  &--inverse {
    direction: rtl;
  }

  &--green {
    --border-color: rgba(255, 255, 255,0.3);
    --color: rgba(255, 255, 255, 0.9);
    --gradient-color: transparent;
    --background-color: #459f56;
    --bold-color: #FFF;
  }

  &--purple {
    --border-color: rgba(255, 255, 255,0.3);
    --color: rgba(255, 255, 255, 0.9);
    --gradient-color: transparent;
    --background-color: #9e2cbf;
    --bold-color: #FFF;
  }

  &--orange {
    --border-color: rgba(255, 255, 255,0.3);
    --color: rgba(255, 255, 255, 0.9);
    --gradient-color: transparent;
    --background-color: #db6a41;
    --bold-color: #FFF;
  }

  @media (max-width: 1200px) {
    padding: 80px 40px;
    grid-gap: 50px;
  }

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    grid-gap: 30px;

    padding: 60px 20px;
    direction: rtl;

    .btn {
      width: 100%;
    }

    h3 {
      font-size: 20px;
    }

    p, ul {
      font-size: 14px;
    }
  }
}
