.landing-cta {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  height: 60vh;

  @media (max-width: 960px) {
    padding: 60px 20px;
    display: block;
    height: auto;
  }

  .btn-group {
    margin: 0 auto;
  }

  h3 {
    font-family: 'M PLUS Rounded 1c';
    font-size: 40px;

    text-align: center;

    margin: 0;

    @media (max-width: 960px) {
      font-size: 34px;
    }
  }

  p {
    text-align: center;
    font-size: 24px;
    color: #666;

    margin: 0;
    margin-top: 10px;
    margin-bottom: 50px;

    @media (max-width: 960px) {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}
