.landing-hero {
  padding: 40px 60px;

  grid-template-columns: minmax(200px, 860px) min-content;
  grid-gap: 2vw;

  justify-content: center;
  align-items: center;
  display: grid;
  flex: 1;

  min-height: calc(100vh - 80px);
  position: relative;

  &__left,
  &__right {
    position: relative;
    z-index: 1;
  }

  &__left {
    background: radial-gradient(closest-side, white, transparent);
    padding: 50px;
    left: -50px;
    top: -50px;
  }

  h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.3;
    font-weight: 700;
    font-size: 36px;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;

    max-width: 600px;
  }

  h2 {
    font-weight: normal;
    font-size: 18px;

    margin: 0;
    margin-bottom: 40px;

    max-width: 600px;
  }

  @media (max-width: 1350px) {
    h1 {
      font-size: 30px;
    }
  }

  @media (max-width: 1200px) {
    padding: 40px;

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 16px;
    }

    &__left {
      top: -30px;
    }
  }

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    grid-gap: 50px;

    padding: 20px;
    padding-bottom: 60px;

    h1 {
      font-size: 28px;
    }

    &__left {
      padding: 0;
      padding-top: 20px;

      left: 0;
      top: 0;
    }
  }
}
