.landing-batteries {
  background: #9e2cbf image-url('interlaced.png');
  border-top: 1px solid rgba(0,0,0,0.2);
  color: white;

  padding: 120px 60px;
  text-align: center;

  svg {
    fill: currentColor;
  }

  h3 {
    font-family: 'M PLUS Rounded 1c';
    font-size: 36px;
    margin: 0;

    @media (max-width: 960px) {
      font-size: 26px;
    }
  }

  p {
    font-size: 20px;

    margin: 0;
    margin-bottom: 50px;

    @media (max-width: 960px) {
      font-size: 16px;
    }
  }

  &__grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 120px 120px;
    grid-gap: 60px 30px;
    display: grid;

    max-width: 800px;
    margin: 0 auto;

    div {
      grid-template-rows: min-content min-content;
      justify-items: center;
      align-content: center;
      display: grid;
    }

    svg {
      margin-bottom: 10px;
      display: block;
      height: 40px;
      width: 40px;
    }

    span {
      font-weight: 600;
      font-size: 20px;
      display: block;

      @media (max-width: 960px) {
        font-size: 16px;
      }
    }

    @media (max-width: 960px) {
      padding: 0;
    }
  }

  &__content {
    background: radial-gradient(closest-side, rgba(#9e2cbf, 0.5) 65%, transparent);
    max-width: 1620px;
    padding: 0 60px;
    margin: 0 auto;

    @media (max-width: 960px) {
      padding: 0;
    }
  }

  @media (max-width: 960px) {
    padding: 40px;
    padding-bottom: 70px;
  }
}
