.nav {
  border-bottom: 1px solid #E9E9E9;
  background: #FFF;
  color: #333;

  overflow: hidden;
  width: 100%;

  &__wrapper {
    align-items: center;
    display: flex;

    max-width: 1620px;
    min-height: 80px;

    padding: 15px 60px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      padding: 15px 40px;
    }

    @media (max-width: 960px) {
      padding: 15px 20px;
    }
  }

  &__mobile-menu-toggle {
    align-items: center;
    display: flex;

    text-transform: uppercase;
    font-weight: bold;
    color: inherit;

    cursor: pointer;

    svg {
      fill: currentColor;
      margin-left: 10px;
    }

    @media (min-width: 1101px) {
      display: none;
    }
  }

  &__brand {
    margin-right: auto;
    font-size: 24px;
    flex: 0 0 auto;
  }

  &__item + &__item {
    margin-left: 35px;
  }

  &__item {
    line-height: 52px;
    height: 50px;

    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    color: inherit;

    align-items: center;
    display: flex;

    svg {
      margin-right: 10px;
      position: relative;
      top: 1px;
    }

    &.active {
      color: $primary;
    }

    svg {
      fill: currentColor;
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }
}

.mobile-menu {
  background: white;
  justify-content: center;
  align-items: center;
  display: none;

  padding: calc((100vh - 400px) / 2) 0;

  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  &--open {
    display: grid;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__item + &__item {
    margin-top: 20px;
  }

  &__item {
    max-width: 200px;
    width: 100%;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: inherit;

    align-items: center;
    display: flex;

    svg {
      margin-right: 10px;
      height: 30px;
      width: 30px;
    }
  }

  @media (max-width: 1200px) and (orientation: landscape) {
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding: 0 20vw;
  }
}
