.nav {
  border-bottom: 1px solid #E9E9E9;
  background: #FFF;
  color: #333;

  overflow: hidden;
  width: 100%;

  &__wrapper {
    align-items: center;
    display: flex;

    max-width: 1620px;
    min-height: 80px;

    padding: 15px 60px;
    margin: 0 auto;
  }

  &__brand {
    margin-right: auto;
    font-size: 24px;
    flex: 0 0 auto;
  }

  &__item + &__item {
    margin-left: 35px;
  }

  &__item {
    line-height: 52px;
    height: 50px;

    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    color: inherit;

    align-items: center;
    display: flex;

    svg {
      margin-right: 10px;
      position: relative;
      top: 1px;
    }

    &.active {
      color: $primary;
    }

    svg {
      fill: currentColor;
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }
}
