.page {
  padding: 40px 60px;
  max-width: 1620px;
  margin: 0 auto;

  &__errors {
    background: #ffbaba;
    border-radius: 6px;
    color: #821e1e;
    padding: 10px 20px;

    margin-bottom: 30px;
  }

  &__header {
    margin-bottom: 40px;

    align-items: center;
    display: flex;

    @media (max-width: 1200px) {
      display: block;
    }

    &__actions {
      margin-left: auto;

      @media (max-width: 1200px) {
        margin-top: 20px;
      }
    }
  }

  &__package {
    border-bottom: 2px dashed rgba(#000, 0.1);

    strong {
      font-weight: 600;
      font-size: 24px;
    }

    p {
      margin: 0;
      margin-bottom: 20px;

      font-size: 16px;
      color: #999;
    }
  }

  &--blog {
    max-width: 900px;
  }

  &__title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 36px;
    line-height: 1;

    margin: 0;
    margin-bottom: 15px;
  }

  &__description {
    margin: 0;
    color: #666;
  }

  @media (max-width: 1200px) {
    padding: 40px;
  }

  @media (max-width: 960px) {
    padding: 20px;
    padding-bottom: 60px;
  }
}
