.version {
  grid-template-columns: 300px 1fr;
  display: grid;

  &__docs {
    @extend %content;
  }
}

.sidebar {
  a {
    text-decoration: none;
    color: #333;

    align-items: center;
    display: flex;

    &.active,
    &:hover {
      color: $link;
    }
  }
}
