.version {
  grid-template-columns: 300px 1fr;
  display: grid;

  &__docs {
    @extend %content;
  }
}

.sidebar {
  a {
    text-decoration: none;
    color: #333;

    align-items: center;
    font-weight: 600;
    display: flex;
    height: 20px;

    margin: 7px 0;

    .type-badge {
      flex: 0 0 auto;
    }

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &.active,
    &:hover {
      color: $primary;
    }
  }
}
