$primary: #02b046;
$link: #29C;
$secondary: #ff5c21;
$tertiary: #6761a8;

@import 'breadcrumbs';
@import 'pagination';
@import 'container';
@import 'packages';
@import 'package';
@import 'version';
@import 'install';
@import 'nav';

@import 'landing_batteries';
@import 'landing_section';
@import 'landing_snippet';
@import 'landing_hero';

@import 'footer';

@import 'type_badge';
@import 'entity';

@import 'btn_group';
@import 'btn';

* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

body {
  font-family: Open Sans;
  flex-direction: column;
  overflow-y: scroll;
  background: #FFF;
  min-height: 100vh;
  display: flex;
  color: #444;
  margin: 0;
}

article {
  flex: 1;
}

.hljs {
  filter: saturate(2);

  scrollbar-color: #878d99 #282c34;
  scrollbar-width: thin;
}

.page {
  &__title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 36px;
    line-height: 1;

    margin: 0;
    margin-bottom: 15px;
  }

  &__description {
    margin: 0;
    margin-bottom: 40px;

    color: #666;
  }
}

%content {
  line-height: 1.75;
  color: #444;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #333;

    margin: 0;
    margin-bottom: 20px;
  }

  h1 {
    border-bottom: 4px solid rgba(0,0,0,0.1);
    padding-bottom: 0.3em;
    font-size: 2em;
  }

  h2 {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 0.3em;

    margin-top: 2em;
    font-size: 1.5em;
  }

  h3 {
    margin-top: 1.5em;
    font-size: 1.25em;
  }

  li > ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li > pre {
    margin-top: 7px;
  }

  ul {
    padding-left: 30px;
  }

  code:not(.hljs) {
    white-space: pre;
    background: #EEE;
    padding: 3px 6px;
    border-radius: 2px;
  }

  code {
    font-family: Source Code Pro;
  }

  pre {
    background: #252d3c;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 16px;
    padding: 10px;

    code:not(.hljs) {
      background: transparent;
      color: transparent;
    }
  }

  b, strong {
    color: #333;
  }

  p, ul, ol, pre, blockqoute {
    margin: 0;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: $primary;
  }

  p.hint {
    grid-template-columns: min-content 1fr;
    grid-gap: 10px;
    display: grid;

    background: #EEE;
    padding: 20px;

    svg {
      align-self: center;
      margin-right: 10px;
      height: 24px;
      width: 24px;
    }

    code:not(.hljs) {
      background: #DDD;
    }

    &--warning {
      border-left: 4px solid orangered;

      & svg {
        fill: orangered;
      }
    }
    &--info {
      border-left: 4px solid rgb(56, 132, 255);

      & svg {
        fill: rgb(56, 132, 255);
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr + tr td {
      border-top: 1px solid #EEE;
    }

    thead th {
      border-bottom: 2px solid rgb(230, 236, 241);
      font-weight: bold;
      color: #999;
    }
  }

  blockqoute {
    border-left: 4px solid #EEE;
    display: block;
    padding: 20px;
    color: #666;
  }
}

.guide {
  grid-template-columns: minmax(330px, 1fr) 900px 1fr;
  display: grid;

  @media (max-width: 1280px) {
    grid-template-columns: 300px 1fr;
  }

  .guide-content {
    @extend %content;
  }
}

.toc {
  border-right: 1px solid #EEE;
  padding-right: 50px;
  margin-right: 50px;

  &__spacer {
    margin-top: 20px;
  }

  &__page {
    text-decoration: none;
    font-weight: 600;
    display: block;
    color: #333;

    margin-top: 5px;

    &.active,
    &:hover {
      color: $primary;
    }
  }

  &__pages > &__pages {
    padding-left: 15px;
    margin-left:5px;
    margin-top: 7px;
    border-left: 1px dashed #CCC;
  }

  &__section {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #999;

    margin-bottom: 5px;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.landing-cta {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  height: 60vh;

  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
  background: image-url('dot-grid.png');

  @media (max-width: 960px) {
    padding: 60px 20px;
    display: block;
    height: auto;
  }

  .btn-group {
    margin: 0 auto;
  }

  h3 {
    font-family: 'M PLUS Rounded 1c';
    font-size: 40px;

    text-align: center;

    margin: 0;

    @media (max-width: 960px) {
      font-size: 34px;
    }
  }

  p {
    text-align: center;
    font-size: 24px;
    color: #666;

    margin: 0;
    margin-top: 10px;
    margin-bottom: 50px;

    @media (max-width: 960px) {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}
