$primary: #02b046;
$link: #29C;
$secondary: #ff5c21;
$tertiary: #6761a8;

@import 'breadcrumbs';
@import 'pagination';
@import 'packages';
@import 'package';
@import 'version';
@import 'install';
@import 'nav';

@import 'landing_section';
@import 'landing_snippet';
@import 'landing_hero';
@import 'landing_cta';

@import 'content';
@import 'footer';
@import 'guide';
@import 'page';
@import 'toc';

@import 'type_badge';
@import 'entity';

@import 'btn_group';
@import 'btn';

* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

html {
  scrollbar-color: #999 #DDD;
}

body {
  font-family: Open Sans;
  flex-direction: column;
  overflow-y: scroll;
  background: #FFF;
  min-height: 100vh;
  display: flex;
  color: #444;
  margin: 0;
}

article {
  min-height: calc(100vh - 100px);
  flex: 1;
}

.hljs {
  filter: saturate(2);

  scrollbar-color: #878d99 #282c34;
  scrollbar-width: thin;
}

.posts-small {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  display: grid;
}

.post-small {
  background: #F6F6F6;
  border-radius: 4px;
  display: block;
  padding: 20px;

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    display: block;
    color: inherit;

    &:hover {
      color: $primary;
    }
  }

  small {
    color: #999;
  }
}

.landing {
  background: image-url('dot-grid.png');
}

.input-search {
  position: relative;

  svg {
    position: absolute;
    right: 11px;
    top: 11px;
    fill: #333;
  }

  input {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    height: 36px;
    width: 100%;

    &:focus {
      outline: none;
      border-color: $primary;
    }
  }
}
