.nav {
  border-bottom: 1px solid #E9E9E9;
  background: #FFF;
  color: #333;
  width: 100%;

  &__wrapper {
    align-items: center;
    display: flex;

    max-width: 1620px;
    padding: 0 60px;
    margin: 0 auto;
    height: 80px;

    @media (max-width: 1200px) {
      padding: 0 40px;
    }

    @media (max-width: 960px) {
      padding: 0 20px;
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    color: inherit;

    align-items: center;
    display: flex;

    svg {
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
  }

  &__brand {
    margin-right: auto;
    font-size: 24px;
  }

  &__separator {
    border-left: 1px solid #DDD;
    margin: 0 25px;
    height: 30px;

    @media (max-width: 1200px) {
      margin-left: 10px;
    }

    @media (max-width: 960px) {
      display: none;
    }
  }

  &__item {
    line-height: 52px;
    height: 50px;

    &.active {
      color: $primary;
    }

    svg {
      fill: currentColor;
    }

    @media (max-width: 1200px) {
      margin-left: 10px;
    }

    @media (max-width: 960px) {
      border-left: 5px solid transparent;
      line-height: 30px;
      border-bottom: 0;
      margin-left: 0;
      height: auto;


      &.active {
        border-left-color: #FAFAFA;
      }
    }
  }
}
