.toc-mobile
  Pages
  = octicon "chevron-down", width: 14

.toc
  .toc__wrapper
    - pages.each do |page|
      .toc__section
        = page[:title]

      .toc__pages
        - page[:pages].to_a.each do |subpage|
          - if subpage[:pages]
            .toc__spacer

          = toc_link subpage[:title], subpage[:path]

          - if subpage[:pages]
            .toc__pages
              - subpage[:pages].to_a.each do |item|
                = toc_link item[:title], item[:path]

