.page
  .guide
    = render partial: 'toc'

    .guide-content
      %h1
        What & Why

      %p This page is an introduction to what Mint is.

      %h2
        What Is Mint?

      %p
        Mint is a language specifically created for writing

        = succeed "." do
          %b single-page applications

        It is a compiler and a framework combined to provide great
        developer experience while allowing to write safe, readable
        and maintainable code.

      %p
        It was born out of the frustration of the JavaScript language and
        ecosystem (NPM) and the Elm language and it's not so open
        development practices.

      %h3
        What is wrong with JavaScript?

      %p
        JavaScript is not a strongly typed language which makes it difficult to
        write error-free code and leads to not so great developer experience.
        Also, it does not have the tools to create web applications out of the box,
        you need frameworks and compilers and build tools that increase complexity.

      %h3
        What is wrong with Elm?

      %p
        Elm has great developer experience, but it being a purely functional
        language leads to some boilerplate code and makes it harder to learn.
        Also, it's not possible to contribute or influence the language in any
        meaningful way.

      %h2
        Why Mint?

      %p
        Mint aims to combine the developer experience of Elm and the
        expressiveness of React to create the perfect language for
        building single-page applications.

      %p
        After one year of development Mint has the following features:

      %ul
        %li
          A good type system

        %li
          Nice error messages

        %li
          Formatter

        %li
          Components for composition

        %li
          Stores for data storage

        %li
          Built-in styling

        %li
          Built-in routing

        %li
          Great JavaScript interoperability

        %li
          Immutable data structures

        %li
          And much more...

      = guide_nav do
        = guide_nav_next "/getting-started/tools", "Tools"
